In [1]:
import pandas as p

In [2]:
import numpy as n

In [4]:
s1=p.Series([10,11,30])

In [5]:
s1

0    10
1    11
2    30
dtype: int64

In [9]:
s2=p.Series([30,40,60,89])
s2

0    30
1    40
2    60
3    89
dtype: int64

In [10]:
s1+s2

0    40.0
1    51.0
2    90.0
3     NaN
dtype: float64

In [11]:
s1-s2

0   -20.0
1   -29.0
2   -30.0
3     NaN
dtype: float64

In [12]:
s1*s2

0     300.0
1     440.0
2    1800.0
3       NaN
dtype: float64

In [13]:
s1/s2

0    0.333333
1    0.275000
2    0.500000
3         NaN
dtype: float64

In [14]:
s3=p.Series({1:20,"shakti":90,"sandeep":100,80:90})
s3

1           20
shakti      90
sandeep    100
80          90
dtype: int64

In [16]:
s3.index

Index([1, 'shakti', 'sandeep', 80], dtype='object')

In [24]:
##prg3
a=n.arange(2,15,2)
a

array([ 2,  4,  6,  8, 10, 12, 14])

In [20]:
type(a)

numpy.ndarray

In [22]:
a.dtype

dtype('int32')

In [25]:
b=p.Series(a)
b

0     2
1     4
2     6
3     8
4    10
5    12
6    14
dtype: int32

In [26]:
#prg4
a=n.arange(0,11)
a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [27]:
b=p.Series(a)
b

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int32

In [31]:
b.head(6)

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int32

In [40]:
d=p.DataFrame({'name': ['Sonu', 'Raja', 'Ketaki', 'Rupa', 'Radha', 'Reshma', 'Keshav', 'Narendra', 'Rani', 'Kittu'], 
'score': [12.5, 9, 16.5, n.nan, 9, 20, 14.5, n.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']})

d

       name  score  attempts qualify
0      Sonu   12.5         1     yes
1      Raja    9.0         3      no
2    Ketaki   16.5         2     yes
3      Rupa    NaN         3      no
4     Radha    9.0         2      no
5    Reshma   20.0         3     yes
6    Keshav   14.5         1     yes
7  Narendra    NaN         1      no
8      Rani    8.0         2      no
9     Kittu   19.0         1     yes

In [32]:
df

NameError: name 'df' is not defined